<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPN Dashboard</title>
    <link rel="stylesheet" href="styles.css">

    <style>
        .dataContainer {
          white-space: pre-line; /* or pre-wrap */
        }
      </style>
</head>
<body>
    <header>
        <h1>VPN Dashboard</h1>
    </header>
    
    <main>
        <section class="vpn-status">
            {% if session %}
                <button id="connect-btn">Connect</button>
                <button id="disconnect-btn">Disconnect</button>
                <p>User: {{ session.userinfo.name }}</p>
                <p><a href="/logout" id="logout-btn">Logout</a></p>
            {% else %}
                <h2>VPN Status</h2>
                <p>Status: Disconnected</p>
                <p><a href="/login" id="login-btn">Login</a></p>
            {% endif %}
        </section>
        
        </section>
    </main>
    
    <footer>
        <p>&copy; 2023 Kernel Killers</p>
    </footer>
    <script>
        document.getElementById("connect-btn").addEventListener("click", function () {
            // Make an AJAX request to the /connect endpoint
            var newDiv = document.createElement("div");
            fetch("/connect", { method: "POST" })
                .then(response => response.text())
                .then(message => newDiv.innerHTML = message)
            newDiv.classList.add('dataContainer');
            var divToRemove = document.getElementById("disconnect-message");
            if(divToRemove != null)
                document.body.removeChild(divToRemove);

            // adaugam div-ul in body
            newDiv.id = "connect-message";
            document.body.appendChild(newDiv);
        });
    
        document.getElementById("disconnect-btn").addEventListener("click", function () {
            var newDiv = document.createElement("div");
            newDiv.classList.add('dataContainer');
            // Make an AJAX request to the /disconnect endpoint
            fetch("/disconnect", { method: "POST" })
                .then(response => response.text())
                .then(message => newDiv.innerHTML = message);

            // adaugam div-ul in body
            newDiv.id = "disconnect-message";
            document.body.appendChild(newDiv);
            
            //daca e conectat atunci se deconecteaza si se sterg datele din divul connect
            var divToRemove = document.getElementById("connect-message");
            document.body.removeChild(divToRemove);

        });
    </script>
</body>
</html>
